<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>xxx 后台管理系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/index.css">


</head>
<body>
  <div class="container">
    <%- include('./common/head.ejs') %>

    <div class="lv-main">
      <%- include('./common/menu.ejs') %>


      <div class="body">
        <!-- 搜索栏 -->
        <form class="form-inline seach" action="/users/seek" method="GET">
          <input id="searchInput" name="seek" type="text" class="form-control">
          <button id="searchBtn" class="btn btn-primary">搜索</button>
        </form>

         
       <!-- 表格 -->
        <div class="bs-example" data-example-id="bordered-table">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>用户昵称</th>
                <th>年龄</th>
                <th>性别</th>
                <th>是否管理员</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
                <% for(var i = 0;i < list.length;i++){%>
                  <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= list[i].username %></td>
                    <td><%= list[i].nickname %></td>
                    <td><%= list[i].age %></td>
                    <td><%= list[i].sex %></td>
                    <td><%= list[i].isAdmin %></td>
                    <td>
                      <% if (!list[i].isAdmin) {%>
                        <a href="/users/delete?id=<%= list[i]._id %>"> 删除 </a>
                      <%} %>
                    </td>
                  </tr>
               <% } %>
            </tbody>
          </table>
        </div>
        
        <!-- 分页 -->
        <nav>
          <ul class="pagination">
            <li>
              <a href="/users?page=<%= currentPage - 1 < 1 ? 1 : currentPage -1 %>&pageSize=<%= pageSize%>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <%for (var i = 0;i < totalPage;i++){%>
              <li class="<%= currentPage === (i+1) ? 'active': '' %>"><a href="/users?page=<%= i+1 %>&pageSize=<%= pageSize%>"><%= i + 1%></a></li>
            <%} %>
              <!-- <%  for(var i = 0;i < totalPage; i++) {%>
                <li class="<%= currentPage ===(i+1) ? 'active': ''%>" ><a href="#"> <%= i + 1%></a></li> 
              <%} %> 
            Unexpected identifier in D:\1809\number3\touchu1\11.29day9\code2\views\users.ejs while compiling ejs If the above error is not helpful, you may want to try EJS-Lint: https://github.com/RyanZim/EJS-Lint
            //var 这个单词少输一位数 r就会出现这样的结果
            -->
            <!-- <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
            <li>
              <a href="/users?page=<%= currentPage + 1 > totalPage ? totalPage : currentPage + 1 %>&pageSize=<%= pageSize%>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <%- include('./common/foot.ejs') %>
  </div>
</body>
</html>
